<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Main page</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="http://localhost:8080/css/style.css"/>
    </head>
	<body>
		<h1>Assignment 2 Main Page</h1>
		<div id="content">
			<a href="/k-means/centroids">K-means Centroids</a><br/><br/>
			<a href="/hierarchical">Hierarchical Tree</a>
		</div>
		
	</body>
</html>